<!DOCTYPE html>
<html lang="en">

<!-- The head(er) of a page is normally the same across all pages of a website. So,
to avoid having to re-write/copy and paste this code again, this is separated out into
its own separate file so it can be "included" in templates of the main content HTML. -->

<head>
  <meta charset="utf-8">
  <!-- The all important meta tag to ensure mobile responsive media queries work properly -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <!-- This is how to include CSS from an external website... -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- ... and this is how to include our own CSS, which NEEDS to be stored under the "static" folder -->
  <link rel="stylesheet" href={{url_for( "static", filename="css/app.css" )}}>
