/** Customised template for slides  **/
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans:400+400i');

/*********************************************
* PERSONAL
*********************************************/
$deep-carmine: #EF3A34;
$gray: #C1CAD6;
$violet: #8E24AA;
$blue: #119DA4; /* Sea blue not blue blue */

$title-font:'Lobster Two', cursive;
$base-font: 'Open Sans', sans-serif;

/*********************************************
 * OVER WRITING DEFAULT STYLES
 *********************************************/
.reveal {
  font-family: $base-font;}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: $deep-carmine;
  font-family: $title-font;
  font-weight: bold;
  text-transform: none;
}

.reveal strong,
.reveal b {
  font-weight: bold;
  color: $violet;
}

.reveal .controls {
  color: $gray; }

.reveal .progress span {
  background: $gray;}


/*********************************************
 * other
 *********************************************/
 .logo{
   position: fixed;
    display: block;
    left: 8px;
    bottom: 8px;
    z-index: 31;
    background-image: url("../../assets/CF-logo.png");
    background-size: 20%;
    background-position: 0% 100%;
    background-repeat: no-repeat; }

.author{
  font-family: $base-font;
  color: $violet;
  font-size: 30px!important;
  padding-top: 20px!important;
}

.reveal code{
  color: $blue;
  font-size: 1em;
}

.reveal pre code{
  display: block;
  padding: 10px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
  font-size: 1.25em;
}

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border: 0px;
}


.reveal accent-text{
  font-weight: bold;
  border: 4px solid $violet;
  padding: 8px;
  border-radius: 5px;
}
