
</body>
<!--   Core JS Files   -->
<script src={{ url_for( "static", filename="js/jquery.min.js" ) }} type="text/javascript"></script>
<script src={{ url_for( "static", filename="js/bootstrap.min.js" ) }} type="text/javascript"></script>
<script src={{ url_for( "static", filename="js/material.min.js" ) }}></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src={{ url_for( "static", filename="js/nouislider.min.js" ) }} type="text/javascript"></script>

<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
<script src={{ url_for( "static", filename="js/bootstrap-datetimepicker.js" ) }} type="text/javascript"></script>


	<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src={{ url_for( "static", filename="js/moment.min.js" ) }} type="text/javascript"></script>

<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src={{ url_for( "static", filename="js/material-kit.js" ) }} type="text/javascript"></script>

<script type="text/javascript">
  materialKit.initFormExtendedDatetimepickers();
</script>
</html>
