<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title> Code First: Advanced Python material</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link href={{ url_for("static", filename="css/bootstrap.min.css") }} rel="stylesheet" />
	<link href={{ url_for("static", filename="css/material-kit.css") }} rel="stylesheet"/>

<style media="screen">
.main-raised{
	top: 200px;
}
</style>
</head>

<body class="signup-page">
	<nav class="navbar navbar-primary navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>

              <a class="navbar-brand" href="/">
			#ShefCodeFirst integrate APIs and Flask</a>
        	</div>
    	</div>
    </nav>

    <div class="wrapper">
