{% include "header.html" %}
<div class="wrapper">
	<div class="container" style="position: relative; top:100px;">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="card card-signup text-center">
					<div class="header header-primary text-center">
						<h4> What API do you want to query today?</h4>
					</div>

					<div class="card-content icons">
						<ul class="nav nav-pills" role="tablist">
							<li>
								<a href="{{ url_for('twitter_handler') }}">
									<img  src={{ url_for("static", filename="img/twitter.png") }} ></a>
								</li>

								<li>
									<a href="{{ url_for('spotify_handler') }}">
										<img  src={{ url_for("static", filename="img/spotify.png") }} ></a>
								</li>

								<li>
									<a href="{{ url_for('NASA_handler') }}">
										<img  src={{ url_for("static", filename="img/rocket.png") }} ></a>
								</li>
								</ul>
					</div>
				</div>
			</div>


		</div>
	</div>


			{% include "footer.html" %}
</div>
</body>
</html>
