{% include "header.html" %}
{% block title %}Spotify Search result for the keyword {{query}}{% endblock %}

{% block content %}
<div class="main main-raised">
  <br>
  <h1 class="text-center">Results from search: {{query}}</h1>
  <br> <br>
  <div class="row">
      {% for artist in data %}
      <div class="col-sm-4">
      <div class="card" >
        {% if artist.images %}
        <div class="view overlay hm-white-slight">
        <img class="img-fluid" src="{{artist.images[0].url}}" alt="{{artist.name}}"
        style = 'max-width: 200px;'>
      </div>
        {% endif %}
        <div class="card-block">
          <h4 class="card-title">{{ artist.name }} </h4>
          <p class="card-text">{{ artist.genres | join(', ')}}</p>
        </div>
      </div>
          </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
