{% include "header.html" %}
{% block title %}Spotify Search result for the keyword {{query}}{% endblock %}

{% block content %}
<div class="main main-raised">
  <br>
  <h1 class="text-center">Results from search: {{query}}</h1>
  <br> <br>
  <div class="row">
    <div class="col-sm-12">
      <table class='table table-striped'>
        <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Genre</th>
              <th>Followers</th>
              <th>Popularity</th>
            </tr>
          </thead>

          {% for artist in data %}
            <tr>
              <td>
                {% if artist.images %}
                  <img src="{{artist.images[0].url}}" alt="{{artist.name}}" class="img-search">
                {% else %}
                  <img src="http://bit.ly/2nXRRfX" class="img-search">
                {% endif %}
              </td>

              <td>
                {{ artist.name }} </a>
              </td>

              <td> {{ artist.genres | join(', ')}} </td>

              <td class="number">{{ artist.followers.total }}</td>
              <td class="number">{{ artist.popularity }}</td>
            </tr>
          {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
